src/main/mule/firstrepo-msg-send.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8e1d9ccd-c7a4-4bab-a192-777d2a5a028f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstrepo-msg-sendFlow" doc:id="c4ff4fcd-d2d7-4167-999a-bdf76da90447" >
		<http:listener doc:name="Listener" doc:id="5cb36256-a613-4b1d-b94c-598b83357937" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="031a6189-22d0-4d3e-ad46-fffb4b930783" message="flow start"/>
		<ee:transform doc:name="Transform Message" doc:id="bfd643f0-91f4-4b5e-985a-b115caad1c7d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Message send to github"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="92359bc2-27a1-4664-bc90-f503a8570fe3" message="#[payload]"/>
	</flow>
</mule>
